:root {
    --textPrimaryColor: #575252;
    --textSecondaryColor: #FFFFFF;
    --backButtonColor: #DBDBDB;
    --backPrimaryColor: #FFFFFF;
    --backSecondaryColor: #0076B6;
    --backTertiaryColor: #000000;
    --eventBorderColor: #1C9FEF;
    --viewportWidth: 80vw;
}

body {
    font-family: "Lato Extended", Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: var(--textPrimaryColor)
}

header, footer {
    text-align: center;
    margin: 0 auto;
}

#docTitle, #printBtn {
    text-align: center;
}

#printer {
    border: 1em solid transparent;
    border-radius: .75rem;
    color: white;
    background-color: red;
    font-size: large;
}

fieldset {
    border-color: var(--backSecondaryColor);
    color: var(--backSecondaryColor);
    font-size: 1.5em;
    max-width: fit-content;
    margin: 0 auto;
}

label {
    color: var(--textPrimaryColor);
    font-size: 0.75em;
}

label[for="comments"] {
    display: inline-block;
}

textarea {
    margin-top: .5em;
}

#requiredNote {
    color: var(--textPrimaryColor);
}

.required {
    color: red;
}

input {
    height: 1.75em;
}

#createEventBtn {
    background-color: var(--backButtonColor);
    border-color: var(--backSecondaryColor);
    display: block;
    margin: 0 auto;
}

.hidden {
    display: none;
}

button {
    max-width: fit-content;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
}

li {
    max-width: var(--viewportWidth)/2;
    margin: 0 auto;
}